$bg-color: #fefbea;
$font-head: ("Lexend Deca", sans-serif);
$font-body: ("Joan", serif);
$red: #dc143c;
$silver: #c0c0c0;
$skeleton-base-color: rgba(0, 0, 0, 0.15);
$skeleton-highlight-color: rgba(0, 0, 0, 0.10);
$skeleton-animation-duration: 1.5s;
$skeleton-animation-direction: normal;
$skeleton-pseudo-element-display: block;