/* Imports */

@import url("https://fonts.googleapis.com/css2?family=Joan&family=Lexend+Deca&display=swap");
@import "helper/variables";
@import "helper/placeholders";
@import "components/nav";
@import "components/skeleton";
@import "pages/home";
@import "pages/contributors";
@import "pages/tracklist";
@import "pages/track";
@import "pages/challenge";
@import "pages/error";

/* General elements */

* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 20px;
}

::-moz-selection {
    background: $silver;
}

::selection {
    background: $silver;
}

body {
    width: 100%;
    background-color: $bg-color;
    font-family: $font-body;
    line-height: 1.25;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

p {
    margin: 0.75rem 0;
    &.locked {
        color: adjust-color($red, $alpha: -0.5);
        text-align: center;
        margin: 2rem auto;
    }
}

a {
    color: black;
    text-decoration-color: $red;
    transition: text-decoration-color 0.1s ease-in-out;
    &:hover,
    &:focus {
        text-decoration-color: $silver;
        transition: text-decoration-color 0.1s ease-in-out;
    }
}

sup {
    vertical-align: super;
    font-size: smaller;
}

main {
    padding: 2rem;
}

// Adapted from Bootstrap
.sr-only {
    position: absolute;
    width: 1px;
    height: 1px;
    padding: 0;
    margin: -1px;
    overflow: hidden;
    clip: rect(0, 0, 0, 0);
    border: 0;
}

@media only screen and (max-width: 991px) {
    main {
        padding: 1rem;
    }
    body {
        &.menu-open {
            position: fixed;
        }
    }
    p.locked {
        width: 100%;
    }
}

@media only screen and (min-width: 992px) {
    p.locked {
        width: 1000px;
    }
}