/* Secret challenge */

.challenge {
    text-align: center;
    h1 {
        font-family: $font-head;
        font-size: 1.5rem;
        font-weight: bold;
        text-transform: uppercase;
        margin-bottom: 0.75rem;
    }
    .input {
        display: flex;
        margin: auto;
        justify-content: space-between;
        align-items: center;
        &.challenge {
            width: 220px;
            input {
                font-family: $font-head;
            }
        }
        &.rewards {
            width: 500px;
            input[type=email] {
                font-family: $font-body;
            }
        }
    }
    input {
        height: 2.5rem;
        &[type=number] {
            width: 100px;
            font-size: 1.25rem;
            padding: 0 0.5rem;
        }
        &[type=email],
        &[type=text],
        &[type=tel] {
            width: 350px;
            font-size: 1rem;
            padding: 0 0.5rem;
        }
        &[type=submit] {
            width: 100px;
            font-size: 1rem;
            @extend %link-buttons;
            &:hover,
            &:focus {
                @extend %link-buttons-hover;
            }
            &:active {
                color: $red;
            }
        }
    }
    .result {
        display: flex;
        justify-content: center;
        input {
            font-family: $font-body;
            margin: 0.5rem;
        }
    }
}

@media only screen and (max-width: 991px) {
    .challenge {
        .input {
            &.rewards {
                flex-direction: column;
                width: 100%;
            }
        }
        input {
            &[type=email],
            &[type=text],
            &[type=tel] {
                width: 100%;
            }
        }
        .result {
            flex-direction: column;
        }
    }
}

@media only screen and (min-width: 992px) {
    #challenge-submit {
        margin: unset;
    }
    #challenger-submit {
        margin: unset;
        margin-top: 1rem;
    }
}