/* Contributors */

.contributors {
    @extend %tracklist-contributors;
    ul {
        @extend %tracklist-contributors-list;
    }
}

.contributors-lead {
    text-align: center;
    margin: auto auto 2rem auto;
}

.link-buttons {
    display: flex;
    margin-top: 2rem;
    flex-direction: column;
    align-items: center;
    button {
        font-size: 1rem;
        width: 300px;
        @extend %link-buttons;
        &:hover,
        &:focus {
            @extend %link-buttons-hover;
        }
        &:active {
            color: $red;
        }
    }
}

@media only screen and (min-width: 1200px) {
    .contributors-lead {
        width: 1000px;
    }
}