/* Tracklist */

.tracklist {
    @extend %tracklist-contributors;
    ol {
        @extend %tracklist-contributors-list;
    }
    a {
        text-decoration: none;
        transition: color 0.1s ease-in-out;
        &:hover,
        &:focus {
            color: $red;
            transition: color 0.1s ease-in-out;
        }
    }
}

.tracklist-lead {
    font-size: 1.25rem;
    text-align: center;
    margin: unset;
    margin-bottom: 2rem;
}

@media only screen and (max-width: 991px) {
    .tracklist-lead {
        margin-top: 1rem;
    }
}