/* Tracklist */

.tracklist {
    @extend %tracklist-contributors;
    ol {
        @extend %tracklist-contributors-list;
    }
    a {
        text-decoration: none;
        transition: color 0.1s ease-in-out;
        &:hover,
        &:focus {
            color: $red;
            transition: color 0.1s ease-in-out;
        }
    }
}

.tracklist-lead {
    margin-bottom: 2rem;
    p {
        margin: unset;
        text-align: center;
        &.head {
            font-size: 1.25rem;
            font-weight: 500;
            margin-bottom: 0.25rem;
        }
        &:not(.head) {
            font-size: 0.8rem;
            opacity: 0.5;
        }
    }
    .version-select {
        display: flex;
        justify-content: center;
        label {
            display: none;
            color: white;
        }
        select {
            width: 175px;
            font-family: $font-head;
            font-size: 0.875rem;
            text-align: center;
            text-transform: uppercase;
            margin-top: 0.75rem;
        }
    }
}