/* Menu */

nav {
    background-color: black;
    border-bottom: 1px solid $red;
    font-family: $font-head;
    text-transform: uppercase;
    ul {
        text-align: center;
        margin: unset;
        padding: 0.5rem;
        list-style-type: none;
        li {
            display: inline;
            margin: 0.5rem;
            a.active {
                color: $red;
            }
        }
    }
    a {
        color: white;
        text-decoration: none;
        transition: color 0.1s ease-in-out;
        &:hover,
        &:focus {
            color: $silver;
            transition: color 0.1s ease-in-out;
        }
        &:active {
            color: $red;
        }
    }
}

#mobile-menu-open,
#mobile-menu-close {
    display: none;
    svg {
        width: 24px;
        height: 24px;
        fill: white;
    }
    &:hover svg,
    &:focus svg,
    &:active svg {
        fill: $red;
    }
}

@media only screen and (max-width: 575px) {
    nav {
        ul {
            li {
                display: block;
                margin: 1rem 0;
            }
        }
    }
    #mobile-menu-open,
    #mobile-menu-close {
        display: block;
        padding: 0.75rem;
    }
    #mobile-menu-close {
        text-align: right;
    }
    .menu {
        position: fixed;
        width: 100%;
        top: 0;
        bottom: 0;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 100;
        transition: left 0.2s;
        &.open {
            left: 0;
            transition: left 0.2s;
        }
    }
}