/* Error page */

.not-found {
    text-align: center;
    .head {
        margin-bottom: 1rem;
    }
    h1,
    p {
        margin: unset;
    }
    h1 {
        font-family: $font-head;
        font-size: 1.75rem;
        font-weight: bold;
        text-transform: uppercase;
    }
    .link {
        font-size: 0.875rem;
        opacity: 0.5;
    }
}