* {
    box-sizing: border-box;
    scroll-behavior: smooth;
}

html {
    font-size: 20px;
}

:root {
    --red: #dc143c;
    --silver: #c0c0c0;
}


/* Google Fonts */

@import url("https://fonts.googleapis.com/css2?family=Joan&family=Lexend+Deca&display=swap");

/* General elements */

body {
    background-color: #fefbea;
    font-family: "Joan", serif;
    line-height: 1.25;
}

strong {
    font-weight: bold;
}

em {
    font-style: italic;
}

p {
    margin: 0.75rem 0;
}

a {
    color: black;
    text-decoration-color: var(--red);
    transition: text-decoration-color 0.1s ease-in-out;
}

a:hover,
a:focus {
    text-decoration-color: var(--silver);
    transition: text-decoration-color 0.1s ease-in-out;
}

main {
    padding: 2rem;
}

@media only screen and (max-width: 991px) {
    main {
        padding: 1rem;
    }
}


/* Menu */

nav {
    background-color: black;
    border-bottom: 1px solid var(--red);
    font-family: "Lexend Deca", sans-serif;
    text-transform: uppercase;
}

#mobile-menu-open,
#mobile-menu-close {
    display: none;
}

#mobile-menu-open svg,
#mobile-menu-close svg {
    width: 24px;
    height: 24px;
    fill: white;
}

#mobile-menu-open:hover svg,
#mobile-menu-open:focus svg,
#mobile-menu-open:active svg,
#mobile-menu-close:hover svg,
#mobile-menu-close:focus svg,
#mobile-menu-close:active svg {
    fill: var(--red);
}

nav ul {
    text-align: center;
    margin: unset;
    padding: 0.5rem;
    list-style-type: none;
}

nav li {
    display: inline;
    margin: 0.5rem;
}

nav li a.active {
    color: var(--red);
}

@media only screen and (max-width: 575px) {
    #mobile-menu-open,
    #mobile-menu-close {
        display: block;
        padding: 0.75rem;
    }
    #mobile-menu-close {
        text-align: right;
    }
    .menu {
        position: absolute;
        width: 100%;
        top: 0;
        bottom: 0;
        left: -100%;
        background-color: rgba(0, 0, 0, 0.9);
        z-index: 100;
        transition: left 0.2s;
    }
    .menu.open {
        left: 0;
        transition: left 0.2s;
    }
    nav li {
        display: block;
        margin: 1rem 0;
    }
}

nav a {
    color: white;
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

nav a:hover,
nav a:focus {
    color: var(--silver);
    transition: color 0.1s ease-in-out;
}

nav a:active {
    color: var(--red);
}


/* Home page */

.home {
    display: grid;
    grid-template: auto / 1fr 1fr;
    grid-template-areas: "links synopsis";
}

@media only screen and (max-width: 991px) {
    .home {
        grid-template: auto auto / auto;
        grid-template-areas: "links" "synopsis";
    }
}

.home-synopsis {
    grid-area: synopsis;
    padding: 0 1rem;
}

@media only screen and (max-width: 991px) {
    .home-synopsis {
        padding: unset;
    }
}

.home-synopsis .date {
    font-weight: bold;
    font-style: italic;
    margin-bottom: 1rem;
}

.home-synopsis .signature {
    font-weight: bold;
    text-align: right;
}

.home-links {
    grid-area: links;
    text-align: center;
}

@media only screen and (max-width: 340px) {
    .home-links {
        width: 100%;
    }
}

@media only screen and (max-width: 991px) {
    .home-links {
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 1200px) {
    .home-links {
        margin: auto;
    }
}

.home-links .cover-art {
    width: 300px;
    height: 300px;
    margin-bottom: 1rem;
}

.home-links .link-buttons {
    display: flex;
    width: 300px;
    margin: auto;
    flex-direction: column;
}

@media only screen and (max-width: 340px) {
    .home-links .cover-art {
        width: inherit;
        height: auto;
    }
    .home-links .link-buttons {
        width: inherit;
    }
}

.home-links .link-buttons a,
.track-links .link-buttons a {
    background-color: black;
    color: white;
    font-family: "Lexend Deca", sans-serif;
    text-transform: uppercase;
    margin: 0.5rem 0;
    padding: 0.5rem 0;
    box-shadow: 0px 5px 5px var(--silver);
    text-decoration: unset;
    cursor: pointer;
    transition: color 0.1s ease-in-out;
}

.home-links .link-buttons a {
    width: auto;
}

.home-links .link-buttons a:hover,
.home-links .link-buttons a:focus,
.track-links .link-buttons a:hover,
.track-links .link-buttons a:focus {
    color: var(--silver);
    transition: color 0.1s ease-in-out;
}

.home-links .link-buttons a:active,
.track-links .link-buttons a:active {
    color: var(--red)
}


/* Tracklist */

.tracklist,
.contributors {
    display: flex;
    width: 100%;
    justify-content: space-evenly;
    text-align: center;
    flex-wrap: wrap;
}

.tracklist>div,
.contributors>div {
    flex: 1 1 300px;
}

.tracklist-lead {
    text-align: center;
    margin: unset;
    margin-bottom: 2rem;
}

.tracklist h2,
.contributors h2 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
}

.tracklist ol,
.contributors ul {
    padding: unset;
    line-height: 1.5;
    list-style-type: none;
}

.tracklist a {
    text-decoration: none;
    transition: color 0.1s ease-in-out;
}

.tracklist a:hover,
.tracklist a:focus {
    color: var(--red);
    transition: color 0.1s ease-in-out;
}


/* Track */

.track-head {
    text-align: center;
}

.track-head h1 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: bold;
    font-size: 2rem;
    text-transform: uppercase;
}

@media only screen and (max-width: 586px) {
    .track-head h1 {
        font-size: 1rem;
    }
}

@media only screen and (min-width: 587px) and (max-width: 768px) {
    .track-head h1 {
        font-size: 1.5rem;
    }
}

.track-head .writers {
    margin: unset;
    margin-top: 0.5rem;
    font-size: 0.75rem;
    opacity: 0.75;
}

.track-head .info {
    margin: 1rem 0;
}

.track-head .info h2,
.track-head .info p,
.track-lyrics .section h2,
.track-lyrics .section p,
.track-credits .credit h2,
.track-credits .credit p,
.track-footer .previous h2,
.track-footer .previous p,
.track-footer .next h2,
.track-footer .next p {
    margin: unset;
}

.track-head .info h2 {
    font-family: "Lexend Deca", sans-serif;
    text-transform: uppercase;
}

.track-head .info #break::before {
    content: " ";
}

@media only screen and (max-width: 575px) {
    .track-head .info #break::before {
        content: "\A";
        white-space: pre-wrap;
    }
}

.track-footer {
    display: flex;
    font-size: 0.875rem;
    border-top: 1px solid rgba(0, 0, 0, 0.1);
    margin-top: 2rem;
    padding-top: 1rem;
    justify-content: space-evenly;
    align-items: center;
}

@media only screen and (max-width: 767px) {
    .track-footer {
        flex-direction: column;
        justify-content: space-evenly;
        align-items: center;
    }
    .track-footer>div {
        margin-bottom: 1rem;
    }
}

@media only screen and (min-width: 768px) {
    .track-footer>div {
        flex: 1 1 300px;
    }
}

.track-footer .top-link {
    text-align: center;
}

.track-footer .next {
    text-align: right;
}

@media only screen and (max-width: 767px) {
    .track-footer .previous,
    .track-footer .next {
        text-align: center
    }
    .track-footer .previous {
        order: 1;
    }
    .track-footer .next {
        order: 2;
    }
}

.track-footer .previous h2,
.track-footer .next h2 {
    margin-bottom: 0.25rem;
    opacity: 0.5;
}

.track-links {
    text-align: center;
    margin: auto;
}

@media only screen and (max-width: 700px) {
    .track-links {
        width: 100%;
    }
}

@media only screen and (min-width: 701px) {
    .track-links {
        width: 700px;
    }
}

.track-links .link-buttons {
    display: flex;
    justify-content: space-evenly;
}

@media only screen and (max-width: 340px) {
    .track-links .link-buttons {
        width: inherit;
    }
}

@media only screen and (max-width: 700px) {
    .track-links .link-buttons {
        flex-direction: column;
        align-items: center;
    }
}

.track-links .link-buttons a {
    width: 300px;
}

@media only screen and (max-width: 340px) {
    .track-links .link-buttons a {
        width: inherit;
    }
}

.track-synopsis,
.track-lyrics,
.track-credits {
    text-align: center;
}

@media only screen and (min-width: 1200px) {
    .track-synopsis,
    .track-lyrics,
    .track-credits {
        width: 1000px;
        margin: auto;
    }
}

.track-lyrics,
.track-credits {
    margin-top: 2rem;
}

.track-lyrics .section {
    margin: 1rem 0;
}

.track-lyrics .section h2 {
    color: var(--red);
    opacity: 0.75;
}

.track-lyrics .ad-lib {
    opacity: 0.5;
}

.track-credits .credit {
    margin: 1rem 0;
}

.track-credits .credit h2 {
    font-family: "Lexend Deca", sans-serif;
    font-weight: bold;
    text-transform: uppercase;
    margin-bottom: 0.5rem;
}

.track-credits .credit .location {
    margin-bottom: 0.5rem;
}

.track-credits .credit .location .studio,
.track-credits .credit .location .city {
    display: block;
}

.track-credits .credit .location .city {
    font-size: 0.75rem;
    opacity: 0.75;
}


/* Contributors */

.contributors-lead {
    text-align: center;
    margin: auto auto 2rem auto;
}

@media only screen and (min-width: 1200px) {
    .contributors-lead {
        width: 1000px;
    }
}